body {
    background-color: LightGray;
    color: white;
    text-align: center;
    font-family: Verdana;
    font-size: 11px;
}

h1 {
    text-align: center;
    background-color: black
}

a {
    text-decoration: none;
    color: black;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

article {
    margin-bottom: 40px;
    border: 1px solid #666;
    background-color: tomato;
    ;
}